-i https://pypi.org/simple/
attrs==20.3.0
click==7.1.2
flask==1.1.1
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.3.5
wcwidth==0.2.5
werkzeug==1.0.1
